<!DOCTYPE html>
<html>
<head>
  <title>Persistent World</title>
  <%= stylesheet_link_tag    "ginger/homepage" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>