<% if current_user %>
	Welcome back!! </br>
	<%= link_to "View/Edit Profile", edit_profile_path(:current) %> </br>
	<%= link_to "Logout", logout_path %>
<% else %>
	<h3><a id="loginlink" href="/login">Login</a> / <%= link_to "Register", new_user_path, :id => "registerlink" %></h3>
<% end %>