<nav>
	<ul>
		<li><%= link_to "Home", "/" %></li>
		<li><%= link_to "The Setting", "/wiki" %></li><!-- TODO: SET UP ROUTING -->
		<li><%= link_to "Active Games", "/forums" %></li>
	</ul>
<nav><!-- End Nav -->