<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
      $("a#loginlink").fancybox();
  });
</script>

<div id="header">
	<%= link_to image_tag("ginger/banner1.png"), "/" %>
	<div id="login">
		<!-- TODO: IMPLEMENT SESSIONS HERE -->
		<%= render 'login' %>
	</div>
</div> <!-- End Header -->

<div class="colmask threecol">
	<div class="colmid">
		<div class="colleft">
			
			<div class="col1"> <!-- Mid column -->
				<h2>The Persistent World ALPHA </h2>
			</div>

			<div class="col2"> <!-- Left Column -->
				<h2>Navigation</h2>
				<%= render 'nav' %>
			</div>

			<div class="col3"> <!-- Right Column -->
			</div>

		</div>
	</div>
</div> <!-- End Body -->

<div id="footer">
</div><!-- End Footer -->