body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background:#000; 
	min-width:600px;		/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font-size:90%;
}

h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
}
#ads img {
	display:block;
	padding-top:10px;
}

/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
}
#header #login {
	float: right;
	color: #fff;
}
#header {
	border-bottom:1px solid #fff;	
}
#header p,
#header h1,
#header h2 {
	padding:.4em 15px 0 15px;
	margin:0;
}
#login {
	width: 223px;
	text-align: left;
	color: #fff;
	padding: 20px;
}



/* 'widths' sub menu */
#layoutdims {
	clear:both;
	background:#eee;
	border-top:4px solid #000;
	margin:0;
	padding:6px 15px !important;
	text-align:right;
}
/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
	color: white;
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;			/* width of page */
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;	/* no left and right padding on columns, we just make them narrower instead 
					only padding top and bottom is included here, make it whatever value you need */
	overflow:hidden;
}
/* 3 Column settings */
.threecol {
	background:#555555;		/* right column background colour */
	
}
.threecol .colmid {
	right:18%;			/* width of the right column */
	/*background:#555555;		 center column background colour */
	background-image:url("/images/ginger/background1.jpg");
}
.threecol .colleft {
	right:64%;			/* width of the middle column */
	background:#555555;	/* left column background colour */
}
.threecol .col1 {
	width:60%;			/* width of center column content (column width minus padding on either side) */
	left:102%;			/* 100% plus left padding of center column */
}
.threecol .col2 {
	width:15%;			/* Width of left column content (column width minus padding on either side) */
	left:23%;			/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
}
.threecol .col3 {
	width:15%;			/* Width of right column content (column width minus padding on either side) */
	left:90%;			/* Please make note of the brackets here:
					(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
}

nav {
	width: 100%;
	display: block;
	
}

nav a:link, a:hover, a:visited, a:active {
	color: #ffffff;
}

nav a:hover {
	color: #000000;
	background-color: #ffffff;
}

nav a {
	text-decoration: none;
	display: block;
	background-color: #555555;
}

nav ul{
	list-style: none;
	display: block;
	text-align: left;
	padding: 0;
	margin: 0;
}


/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #000;
}
#footer p {
	padding:10px;
	margin:0;
}
